[Unit]
Description=This service exposes the startRecording API call
After=bbb-html5.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=python3 manage.py runserver 8000
User=bbb-rec-starter
WorkingDirectory=/home/bbb-rec-starter/bbb_rec_starter
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
