[Unit]
Description=BBB Recording Starter
After=bbb-html5.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/bbb-rec-starter/bbb-rec-starter/venv/bin/python3 manage.py runserver 127.0.0.1:8000
User=bbb-rec-starter
WorkingDirectory=/home/bbb-rec-starter/bbb-rec-starter/bbb_rec_starter
Restart=always
KillSignal=SIGKILL
StandardError=syslog
